<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="container">
        <h2>Your Gold :{{request.session.gold}}</h2>
        <label></label>
        <div class="Main">
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Farm</h2>
            <div><p>(earns 10-20 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Cave</h2>
            <div><p>(earns 5-10 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>House</h2>
            <div><p>(earns 2-5 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Cafeteria</h2>
            <div><p>(earns 0-50 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="cafeteria" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        </div>
        <h2>Activities</h2><br><br>
        <div class="activities">
            <ul>
              {% for activity in request.session.activities %}
              <li class="{{activity.class}}" >{{ activity.activity }}</li>
              {% empty %}
              <li class="red">{{ activity }}</li>
              {% endfor %}
            </ul>
          </div>
    </div>       
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="container">
Your Gold :{{request.session.gold}}</h2>
        <label></label>
        <div class="Main">
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Farm</h2>
            <div><p>(earns 10-20 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="farm" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Cave</h2>
            <div><p>(earns 5-10 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="cave" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>House</h2>
            <div><p>(earns 2-5 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="house" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        
        <form class="form" action="/process_money" method="post">
            {% csrf_token %}
            <h2>Cafeteria</h2>
            <div><p>(earns 0-50 golds)</p></div>
            <div>
                <input type="hidden" name="building" value="cafeteria" />
                <input type="submit" value="Find Gold!"/>
            </div>
        </form>
        </div>
        <h2>Activities</h2><br><br>
        <div class="activities">
            <ul>
              {% for activity in request.session.activities %}
              <li class="{{activity.class}}">{{ activity.activity }}</li>
              {% endfor %}
            </ul>
          </div>
    </div>       
</body>
</html>