<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="container">
        <h1>All the users</h1>
        <div>
            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                    </tr>
                    {%for user in all_the_users%}
                    <tr>
                        <th>{{user.id}}</th>
                        <th>{{user.f_name}} {{user.l_name}}</th>
                        <th>{{user.email_address}}</th>
                        <th>{{user.age}}</th>
                    </tr>
                    {%endfor%}
            </tbody>
            </table>
        </div>
        <hr>
        <div>
            <h1>Add User</h1>
            <form class="form" action="/create" method='post'>
                {%csrf_token%}
                <div class="user">
                    <label>First Name</label>
                    <input type="text" name="firstname" placeholder="firstname">
                    <label>Last Name</label>
                    <input type="text" name="lastname" placeholder="lastname">
                </div>
                <div class="user">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="email">
                    <label>Age</label>
                    <input type="text" name="age" placeholder="age">
                </div> 
                <input type="submit" value="add user">
            </form>
            <a href="/remove"><button role="button" type="submit" name="" value="">remove</button></a>
        </div>
    </div>
</body>
</html>