<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
   
  </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">NEXTFIX</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/shows">Shows</a></li>
                <li><a href="/shows/new">New show</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> TV shows</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-6 text-left"> 
        <h1>Details</h1>
        <div>
            <h2>{{thisShow.title}}</h2>
            <p><em>Recommended By: Anne Davies</em></p>
            <p><b>Network: {{thisShow.Network}}</b></p>
            <p><b>Release Date: {{thisShow.releas_date}}</b></p>
            <p><b>{{thisUser.fname}}'s: {{thisShow.comments}}</b></p>
        </div>
        <form class="comment-form">
            <label>Post a comment</label>
            <textarea id="comment" name="comment" required></textarea>
            <button type="submit">Submit Comment</button>
        </form>
    </div>
</div>
<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
</body>
</html>