.container{
    width: 75%;
    display:block;
    margin: 50px auto 50px 150px;
    justify-content:center;
    position: absolute;
    text-align: center;
}
.user{
    justify-content: left;
}
h1,label,input{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    Overflow-x:scroll;
}
th, td {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
hr{
    margin: 20px 0px 20px 0px;
}