#main{
  width: 80%;
  margin: 50px 50px 50px 100px;
  padding: 50px;
  border: 1px solid black;
  text-align: center;
  
}           
.box{
  border: 2px solid black;
  margin: 50px 50px 50px 150px;
  font-weight: bold;
  text-align: center;
  height: 500px;
  width: 75%;
  display: block;
  justify-content: center;
}
.guess{
  color: rgb(255, 255, 255);
  font-weight: bold;
  height: 170px;
  width: 170px;
  justify-items: center;
  justify-content: center;
  align-items:center;
  display:inline-block;
  text-align: center;
  padding: 50px 0px 0px 0px;
}
.lose{
  background-color: #CE2818;
}
.win{
  background-color: #009E12;
}
h1{
  width: 100%;
  margin: 50px 0px 0px 0px;
  justify-content: center;
  justify-items: center;
  color: blue;
  display:flex;
}
input{
  margin-top: 5px;
  text-align: center;
}
a, a:hover{
  color: black;
  font-family: 'Tahoma';
  text-decoration: none;
}
.button{
width: 25%;
display: flex;
justify-content: center;
margin: 50px 0px 0px 0px;
}
/* CSS */
.button-29{
  width: 150px;
  justify-items: center;
  justify-content: center;
  align-items:center;
  display:inline;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-29:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}
.button-28{
  width: 150px;
  justify-items: center;
  justify-content: center;
  align-items:center;
  display:inline;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff5a5a 0, #ff54b8 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-28:focus {
box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-28:hover {
box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
transform: translateY(-2px);
}

.button-28:active {
box-shadow: #3c4fe0 0 3px 7px inset;
transform: translateY(2px);
}
